@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

.integral{
  font-family: "IntegralCF", sans-serif;
}

.pulse{
  animation: pulseAnimation 3s ease-in-out;
}

@keyframes pulseAnimation{
  0%,100%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
}

.form-input{
  border-radius: 15px;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  background-color: #F0F0F0;
}

.form-input::placeholder{
  color: rgb(0,0,0,0.4);
}


.submit-form{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: block;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.form-label{
  font-size: 18px;
}